<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
<title>分类</title>
<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/ckf.css">
<script src="__PUBLIC__/Home/js/zepto.full.js" type="text/javascript"></script>
</head>
<body class="c-gray ">
<!-- <header class="line-bottom">
	<a href="{:U('Index/prolist')}"><img src="__PUBLIC__/Home/img/arrow-l.png" alt="" class="c-back"></a>
	分类
</header> -->
<div class="c-kand-menu">
	<span class="line-bottom active">品类<i></i></span>
	<span class="line-bottom line-left">品牌<i></i></span>
</div>
<div class="c-kand-con">
	<div class="c-kand-tab c-kand-class display-block">
		<a href="#" class="line-bottom">
			<span><img src="__PUBLIC__/Home/img/arrow-r.png" alt=""></span>
			<img src="__PUBLIC__/Home/img/kind01.png" alt="" class="ico">
			<p>休闲零食</p>
		</a>
		<a href="#" class="line-bottom">
			<span><img src="__PUBLIC__/Home/img/arrow-r.png" alt=""></span>
			<img src="__PUBLIC__/Home/img/kind02.png" alt="" class="ico">
			<p>新鲜果蔬</p>
		</a>
		<a href="#" class="line-bottom">
			<span><img src="__PUBLIC__/Home/img/arrow-r.png" alt=""></span>
			<img src="__PUBLIC__/Home/img/kind03.png" alt="" class="ico">
			<p>茶水冲饮</p>
		</a>
		<a href="#" class="line-bottom">
			<span><img src="__PUBLIC__/Home/img/arrow-r.png" alt=""></span>
			<img src="__PUBLIC__/Home/img/kind04.png" alt="" class="ico">
			<p>酒类</p>
		</a>
		<a href="#" class="line-bottom">
			<span><img src="__PUBLIC__/Home/img/arrow-r.png" alt=""></span>
			<img src="__PUBLIC__/Home/img/kind05.png" alt="" class="ico">
			<p>坚果</p>
		</a>
	</div>
	<div class="c-kand-tab c-kand-brand">
		<ul>
			<h2 class="anchor-a">A</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-b">B</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-c">C</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-d">D</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-e">E</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-f">F</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-g">G</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-h">H</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-i">I</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-j">J</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-k">K</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
			<h2 class="anchor-l">L</h2>
			<li class="line-bottom">
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
				<a href="#" class="line-bottom">阿尔卑斯</a>
				<a href="#">AJl</a>
			</li>
		</ul>	
	</div>
</div>
<div class="c-kand-chose">
	<a data-a="anchor-a">A</a>
	<a data-a="anchor-b">B</a>
	<a data-a="anchor-c">C</a>
	<a data-a="anchor-d">D</a>
	<a data-a="anchor-e">E</a>
	<a data-a="anchor-f">F</a>
	<a data-a="anchor-g">G</a>
	<a data-a="anchor-h">H</a>
	<a data-a="anchor-i">I</a>
	<a data-a="anchor-j">J</a>
	<a data-a="anchor-k">K</a>
	<a data-a="anchor-l">L</a>
	<a data-a="anchor-m">M</a>
	<a data-a="anchor-n">N</a>
	<a data-a="anchor-o">O</a>
	<a data-a="anchor-p">P</a>
	<a data-a="anchor-q">Q</a>
	<a data-a="anchor-r">R</a>
	<a data-a="anchor-s">S</a>
	<a data-a="anchor-t">T</a>
	<a data-a="anchor-u">U</a>
	<a data-a="anchor-v">V</a>
	<a data-a="anchor-w">W</a>
	<a data-a="anchor-x">X</a>
	<a data-a="anchor-y">Y</a>
	<a data-a="anchor-z">Z</a>
</div>
<div class="word-tip"></div>
<script>
	$(".c-kand-chose a").click(function(){
		var text=$(this).text();
		var src=$(this).attr("data-a");
		var top=$("."+src).offset().top;
		var h=$(".c-kand-con").offset().top
		window.scrollTo(0,top-h);
		$(".word-tip").text(text).fadeIn(100);
		setTimeout(function(){
			$(".word-tip").fadeOut(100);
		},500)
	})

	$(".c-kand-menu span").on("click",function(){
		if($(this).hasClass("active")){
			return false;
		}
		$(this).addClass("active").siblings().removeClass("active");
		$(".c-kand-tab").eq($(this).index()).show().siblings().hide();
		if($(this).index()==1){
			$(".c-kand-chose").fadeIn(100);
		}else{
			$(".c-kand-chose").fadeOut(100);
		}
	})
</script>
</body>
</html>