<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
<title>订单详情</title>
<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/xiaotian.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/zepto.full.js"></script>
</head>

<body class="gray p">
<input type="hidden" value="{$order_info['id']}" id="order_id">
<div class="order-detail-header">
	<p class="order-status order-status-deliver">{$order_info['order_status_title']}</p>
	<p>订单编号：{$order_info['order_sn']}</p>
	<p>下单时间：{$order_info['create_time']}</p>
</div>

<div class="order-cells order-detail-cells">
	<div class="order-cell">
		<div class="order-address-hd">收货信息</div>
	</div>
	<div class="order-cell">
		<div class="order-address-bd">
			<p>{$order_info['consignee']} {$order_info['tel']}</p>
			<p>{$order_info['province']}{$order_info['city']}{$order_info['county']}{$order_info['address']}</p>
		</div>
	</div>
</div>
<div class="order-cells order-detail-cells">
	<div class="order-cell">
		<div class="order-cell-bd">商品信息</div>
	</div>
	<div class="order-cell">
		<ul class="order-detail-product">
                    <volist name="order_info['OrderDetail']" id="od">
			<li class="order-detail-product-item" onclick="javascript:location.href='{$od.url}'">
				<img src="{$od['goods_image']}" class="order-detail-product-cover">
				<div class="order-detail-product-description">
					<div class="order-detail-product-description-item">
						<span class="order-detail-product-name">{$od['goods_name']} {$od.specifications_text}</span>
					</div>
					<div class="order-detail-product-description-item">
						<span class="order-detail-product-num">×{$od.goods_number}</span>
						<span class="order-detail-product-price" data-num="1">¥{$od.goods_price}</span>
					</div>
				</div>
<!--                                <if condition="($order_info['order_status_code'] eq 'receipted')">
                                        <if condition="$od['status'] eq '1'">
                                            <button class="order-btn order-refund"><a href="{:U('aftersalesdetail',array('return_id'=>$od['order_return']['id']))}">查看售后</a></button>
                                        <elseif condition="$od['status'] eq 2"/>
                                            <button class="order-btn order-refund"><a href="{:U('aftersalesdetail',array('return_id'=>$od['order_return']['id']))}">退款成功</a></button>
                                        <else />
                                            <eq name="order_info.can_aftersales" value="1">
                                                <button class="order-btn order-refund"><a href="javascript:;" class="aftersales_apply" data-order_id="{$order_info['id']}" data-odetail_id="{$od['id']}">申请售后</a></button>
                                            </eq>
                                        </if>
                                </if>-->
			</li>
                    </volist>
		</ul>
		<!-- <button class="order-btn order-refund"><a href="order_detail_refund.html">申请退款</a></button> -->
	</div>
</div>

<div class="order-cells order-detail-cells">
	<div class="order-cell">
		<div class="order-cell-bd">发货方式</div>
		<div class="order-cell-ft">快递：+{$order_info.freight}元</div>
	</div>
<!--	<div class="order-cell">
		<div class="order-cell-bd">积分抵现</div>
		<div class="order-cell-ft">-{$order_info.score_deduction_money}元</div>
	</div>
	<div class="order-cell">
		<div class="order-cell-bd">余额抵现</div>
		<div class="order-cell-ft">-{$order_info.account_balance_deduction}元</div>
	</div>-->
	<div class="order-cell">
		<div class="order-cell-bd">订单总计</div>
		<div class="order-cell-ft">¥{$order_info.total_amount}</div>
	</div>
</div>
<switch name="order_info.order_status_code">
<case value="unship">
    <div class="order-bar">
    <!--	<button class="order-confirm">去发货</button>
            <button class="order-confirm order-confirm-none">缺货</button>-->
            <a href="#"><button class="order-confirm" id="sure">确认订单</button></a>
    </div>
</case>
<case value="readyship">
    <div class="order-bar">
    <!--	<button class="order-confirm">去发货</button>
            <button class="order-confirm order-confirm-none">缺货</button>-->
            <a href="{:U('Shop/orderdetail',array('order_id'=>$order_info['id']))}"><button class="order-confirm">立即发货</button></a>
    </div>
</case>
<case value="unreceipt">
    <div class="order-bar">
    <!--	<button class="order-confirm">去发货</button>
            <button class="order-confirm order-confirm-none">缺货</button>-->
            <a href="http://m.kuaidi100.com/index_all.html?type={$order_info['express_code']}&postid={$order_info['invoice_no']}">
                <button class="order-confirm order-confirm-none">查看物流</button>
            </a>
    </div>
</case>

</switch>

<script type="text/javascript">
	$('.order-express-cell').on('tap', function(e){
		var _this = $(this);
		var info = _this.find('.order-express-info');
		var height = 0;
		info.css({'overflow': 'hidden'});
		if (info.is(':visible')) {
			height = info.height();
			info.css({'height': height});
			info.animate({'height': '0px'},300,function(){
				info.hide();
			});
		} else {
			info.removeAttr('style');
			info.show();
			height = info.height();
			info.css({'height': '0'});
			setTimeout(function(){
				info.animate({'height': height + 'px'},300);
			},0);
		}
	});
	$('.order-express-info').on('tap', function(){
		return false;
	})
	$('#sure').click(function(){
				var url="{:U('Shop/confirmOrder')}";
		var order=$('#order_id').val()
		$.post(url,{'order_id':order},function(res){
			if(res.Code==0){
				showMessage('确认成功')
				setTimeout(function(){
					window.location.reload();
				},1000)
			
			}else{
				showMessage('确认失败！')
			}
		},'json')
	})
	function showMessage(msg) {
        if (! $('.msg').length) {
            $('body').append('<div class="msg" style="position: fixed;bottom: 20%;left: 50%;margin-left: -30%;height: 0.8rem;line-height: 0.8rem;width: 60%;background-color: rgba(0,0,0,.75);border-radius: 0.6rem;text-align: center;color: #fff;display: none;font-size: 1.2em">' + msg + '</div>');
            $('.msg').fadeIn(200);
            setTimeout(function(){
                $('.msg').fadeOut(200,function(){
                    $(this).remove();
                });
            },1500)
        }
    }
</script>
</body>
</html>