<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
<title>客户订单</title>
<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/order.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/zepto.full.js"></script>
</head>

<body class="gray" style="padding-top: 1.96rem;">
<header class="line-bottom">
	客户订单
</header>
<ul class="order-list-tab">	
	<li class="order-list-tab-item"><a href="myshop.html">店铺首页</a></li>
	<li class="order-list-tab-item"><a href="prolist.html">全部产品</a></li>
	<li class="order-list-tab-item"><a href="goodadd.html">新品上架</a></li>
	<li class="order-list-tab-item order-list-tab-item-active"><a href="">店铺简介</a></li>
</ul>
<div class="order-cells">
	<div class="order-cell">
		<div class="order-cell-bd">所在地</div>
		<span class="shop-info-addon">浙江省 杭州市 江干区</span>
	</div>
	<div class="order-cell">
		<div class="order-cell-bd">开业时间</div>
		<span class="shop-info-addon">2015.12.31</span>
	</div>
</div>
<div class="order-cells">
	<div class="order-cell">
		<div class="order-cell-bd">综合评分</div>
		<span class="shop-info-addon">4.8分</span>
	</div>
	<div class="order-cell order-cell-access">
		<div class="order-cell-bd">客服电话</div>
		<span class="shop-info-addon">123456111</span>
		<div class="order-cell-ft">客服电话</div>
	</div>
</div>
<div class="order-cells">
	<div class="order-cell">
		<div class="order-cell-bd">认证</div>
	</div>
</div>
</body>
</html>