<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
<title>等待审核</title>
<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
<link rel="stylesheet" href="__PUBLIC__/Home/css/ckf.css">
<script src="__PUBLIC_/Home/js/zepto.full.js" type="text/javascript"></script>
</head>
<body class="c-gray ">
<!-- <header class="line-bottom">
	<a href="#"><img src="__PUBLIC__/Home/img/arrow-l.png" alt="" class="c-back"></a>
	等待审核
</header> -->
<div class="c-wait-s">
	<img src="__PUBLIC__/Home/img/more-die.png" alt="">
	<p>等待系统审核</p>
</div>
</body>
</html>