<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
    <title>选择套餐</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/Agent/css/taizhou.css">
</head>
<body style="background: #fff;">
<div>
    <div class="payment_btn replace_btn">
        <a href="{:U('playerInfoReg')}">更换邀请码</a>
    </div>

    <volist name="list" id="goods">
    <div class="package_box">
        <a href="{:U('Gameplayer/detail', array('id'=>$goods['id']))}">
        <div class="package_item clearfix">
            <div class="left">
                <div class="package_full">满50送25</div>
                <div class="package_small">套餐数量：{$goods['goods_nums']}</div>
                <div class="package_small">赠送数量：{$goods['give_goods_nums']}</div>
                <div class="package_small">合计数量：{$goods['total_nums']}（颗）</div>
                <div class="package_small">套餐金额：{$goods['total_money']}（元）</div>
            </div>
            <div class="right">
                <img src="__PUBLIC__/Home/Agent/img/package.png"/>
            </div>
        </div>
        </a>
    </div>
    </volist>

</div>
</body>
</html>