<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
<title>联系客服</title>
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/xiaotian.css">
<script type="text/javascript" src="js/zepto.full.js"></script>
<style type="text/css">
	.message-content {
		box-sizing: border-box;
		width: 100%;
		height: 3.4rem;
		padding: 0.3rem;
		border-bottom: 1px solid #d5dee2;
		resize: none;
	}
	.submit {
		float: right;
	    height: 0.6rem;
	    padding: 0 0.2rem;
	    margin-top: 0.2rem;
	    margin-right: 0.3rem;
	    font: inherit;
	    font-size: 1.4em;
	    border-radius: 0.08rem;
	    background-color: #f87096;
	    border: 1px solid #f87096;
	    color: #fff;
	}
</style>
</head>

<body class="gray p">
<form action="#">
	<textarea class="message-content" placeholder="请输入留言内容..."></textarea>
	<button type="submit" class="submit">提交</button>
</form>

</body>
</html>