<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>下载</title>
</head>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Game/download/css/main.css"/>
<script type="text/javascript">
    !function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",
            a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),
            e.addEventListener("DOMContentLoaded",a,!1))}(window);
    sessionStorage.setItem("yes",'1');
</script>
<body>
    <div class="down_bg">
        <div class="down_logo"><img src="__PUBLIC__/Game/download/img/logo.png"/></div>
        <div class="down_btns">
            <!-- <div class="ios"><a href="__PUBLIC__/Game/download/img/ios.gif" style="margin-bottom: 0.3rem;">IOS操作教程</a></div> -->
            <div class="ard"><a href="http://www.pgyer.com/1377">Android下载</a></div>
            <div class="ios"><a href="http://www.pgyer.com/1377">IOS下载</a></div>
        </div>
        <div class="footer">
            <div class="footer_line">
                <span class="pad_rig"></span><span>日期:2017-11-5</span>
            </div>
        </div>
    </div>
</body>
<include file="Index:public_wxshare" />
</html>
