<ul>
	<li<if condition="in_array(CONTROLLER_NAME, array('Player'))">{:chr(32)}class="current"</if>>
		<a class="date-tit sys-tj" href="{:U('Player/players')}" class="addons">玩家管理</a>
		<ul class="Jcon-ctr">
			<li class="<if condition="in_array(ACTION_NAME, array('players'))">on</if>">
				<a href="{:U('Player/players')}">玩家列表</a>
			</li>
			<!-- <li class="<if condition="in_array(ACTION_NAME, array('playersRecored'))">on</if>">
				<a href="{:U('Player/playersRecored',array('type'=>0,'buyer'=>'player'))}">充值记录</a>
			</li> -->


			<li class="<if condition="in_array(ACTION_NAME, array('playersBuyInsurescore'))">on</if>">
				<a href="{:U('Player/playersBuyInsurescore')}">购买旗力币</a>
			</li>


			<li class="<if condition="in_array(ACTION_NAME, array('playersBuyScore'))">on</if>">
				<a href="{:U('Player/playersBuyScore')}">购买房卡</a>
			</li>
		</ul>
	</li>
</ul>