<include file="Index:public_header" />
<div class="main">
	<div class="contain">
		<div class="banner">
			<img src="__PUBLIC__/Pcweb/img/banner.png" alt="">
		</div>
		<div class="contain-box">
			<div class="title">
				<img src="__PUBLIC__/Pcweb/img/p-die.png" alt="">用户注册
			</div>
			<div class="reg-box">
				<div class="reg-left">
					<h4>注册界面</h4>
					<div class="title-line"></div>

					<!-- 服务协议 -->
					<div class="agreement">
						<div class="reg-agreement">
							<h3>欢迎您注册成为德清罗松用户！ 请仔细阅读下面的协议，只有接受协议才能继续进行注册。 《用户服务协议》</h3>
							<div class="agreement-text">
								<p>服务条款</p>
								<p>根据《网络游戏管理暂行规定》（文化部令第49 号），文化部制定《网络游戏服务格式化协议必备条款》。甲方为德清罗松，乙方为网络游戏用户。</p>
								<p>1.账号注册</p><p>1.1 乙方承诺以其真实身份注册成为甲方的用户，并保证所提供的个人身份资料信息真实、完整、有效，依据法律规定和必备条款约定对所提供的信息承担相应的法律责任。</p>
								<p>1.2 乙方以其真实身份注册成为甲方用户后，需要修改所提供的个人身份资料信息的，甲方应当及时、有效地为其提供该项服务。</p>	
								<p>2.用户账号使用与保管</p>
								<p>2.1 根据必备条款的约定，甲方有权审查乙方注册所提供的身份信息是否真实、有效，并应积极地采取技术与管理等合理措施保障用户账号的安全、有效；乙方有义务妥善保管其账号及密码，并正确、安全地使用其账号及密码。任何一方未尽上述义务导致账号密码遗失、账号被盗等情形而给乙方和他人的民事权利造成损害的，应当承担由此产生的法律责任。</p>
								<p>2.2 乙方对登录后所持账号产生的行为依法享有权利和承担责任。</p><p>2.3 乙方发现其账号或密码被他人非法使用或有使用异常的情况的，应及时根据甲方公布的处理方式通知甲方，并有权通知甲方采取措施暂停该账号的登录和使用。</p>
								<p>2.4 甲方根据乙方的通知采取措施暂停乙方账号的登录和使用的，甲方应当要求乙方提供并核实与其注册身份信息相一致的个人有效身份信息。</p>
								<p>2.4.1 甲方核实乙方所提供的个人有效身份信息与所注册的身份信息相一致的，应当及时采取措施暂停乙方账号的登录和使用。</p>
								<p>2.4.2 甲方违反2.4.1 款项的约定，未及时采取措施暂停乙方账号的登录和使用，因此而给乙方造成损失的，应当承担其相应的法律责任。</p>
								<p>2.4.3 乙方没有提供其个人有效身份证件或者乙方提供的个人有效身份证件与所注册的身份信息不一致的，甲方有权拒绝乙方上述请求。</p><p>2.5 乙方为了维护其合法权益，向甲方提供与所注册的身份信息相一致的个人有效身份信息时，甲方应当为乙方提供账号注册人证明、原始注册信息等必要的协助和支持，并根据需要向有关行政机关和司法机关提供相关证据信息资料。</p>
								<p>3.服务的中止与终止</p>
								<p>3.1 乙方有发布违法信息、严重违背社会公德、以及其他违反法律禁止性规定的行为，甲方应当立即终止对乙方提供服务。</p>
								<p>3.2 乙方在接受甲方服务时实施不正当行为的，甲方有权终止对乙方提供服务。该不正当行为的具体情形应当在本协议中有明确约定或属于甲方事先明确告知的应被终止服务的禁止性行为，否则，甲方不得终止对乙方提供服务。</p>
								<p>3.3 乙方提供虚假注册身份信息，或实施违反本协议的行为，甲方有权中止对乙方提供全部或部分服务；甲方采取中止措施应当通知乙方并告知中止期间，中止期间应该是合理的，中止期间届满甲方应当及时恢复对乙方的服务。</p>
								<p>3.4 甲方根据本条约定中止或终止对乙方提供部分或全部服务的，甲方应负举证责任。</p>
								<p>4.用户信息保护</p>
								<p>4.1 甲方要求乙方提供与其个人身份有关的信息资料时，应当事先以明确而易见的方式向乙方公开其隐私权保护政策和个人信息利用政策，并采取必要措施保护乙方的个人信息资料的安全。</p>
								<p>4.2 未经乙方许可甲方不得向任何第三方提供、公开或共享乙方注册资料中的姓名、个人有效身份证件号码、联系方式、家庭住址等个人身份信息，但下列情况除外：</p>
								<p>4.2.1 乙方或乙方监护人授权甲方披露的；</p>
								<p>4.2.2 有关法律要求甲方披露的；</p>
								<p>4.2.3 司法机关或行政机关基于法定程序要求甲方提供的；</p>
								<p>4.2.4 甲方为了维护自己合法权益而向乙方提起诉讼或者仲裁时；</p>
								<p>4.2.5 应乙方监护人的合法要求而提供乙方个人身份信息时。</p>
								<p>5.用户权益保障措施</p>
								<p>德清棋乐无穷网络本着健康、绿色的理念将推出这样一个特色的游戏平台——"德清罗松"（www.deqingqp.com）。在游戏运营的同时我们以诚信为本，用户利益至上。作为运营方我们以独特的方式来维护和保证玩家用户的安全利益，尊重游戏玩家的选择和对游戏中虚拟货币的各种宝贵建议。我公司配有专业的客服通过各种途径来征求和答询玩家在游戏中和虚拟货币使用中遇到的种种疑问困惑，主要途径为：</p>
								<p>1）用户隐私制度：尊重用户个人隐私是"德清罗松"游戏中心的一项基本政策。所以，作为对个人注册资料分析的补充"德清罗松"游戏中心不会在未经合法用户授权时公开、编辑或透露其注册资料及其它保存在"德清罗松"游戏中心中的非公开内容，除非有法律许可要求"德清罗松"在诚信的基础上认为透露这些信件在以下四种情况是必要的：</p>
								<p>a)遵守有关法律规定，遵从"德清罗松"游戏中心合法服务程序。</p>
								<p>b)维护"德清罗松"游戏中心的商标所有权。</p>
								<p>c)在紧急情况下竭力维护用户个人和社会大众的隐私安全。</p>					
								<p>d)符合其他相关的要求。</p>
								<p>2）客户服务电话：针对游戏中一些风险，例如不能避免用户对自己账号保护不周，账号被盗的情况，对于这些用户，可以通过客服热线来寻求帮助，我公司一般会查询用户账号是否有异常，然后查询房卡的去向，如果能够查到，就会把找回来的房卡归还游戏玩家。除此之外，电话中我们还受理用户密码遗失的问题，通常是客服接到电话，询问用户信息，然后记录，再由专门的人员进行核对，一般处理时间为2 小时。如果用户在游戏中遇到账号无法充值的情况，也可以通过客服电话解决。如果有的用户不听我们的劝告，到淘宝购买房卡，结果是盗号盗来的房卡，那么我们在处理被盗账号时，会处理掉这批他们买来的房卡，但是，我们会提供给他们证据，证明他们买的房卡是盗来的，以便他们找淘宝索偿。如果游戏中遇到漏洞，导致房卡流失，数据异常，我们也会根据情况进行补偿，前提是该漏洞是存在的。</p>
								<p>3）在线的客服：可以更及时的在游戏中捕捉和解决玩家在游戏中虚拟货币的反馈意见和建议。当游戏用户在选择了本游戏的同时便在无形中于我公司达成了协议，我公司会时刻的为游戏玩家提供一套满意便捷的服务维护游戏玩家的种种利益。在其运营的途中当我公司终止服务时，我公司会有效的实施官方的用户权益保障措施，来维护和弥补并退还游戏用户本应得到的某种利益，归还游戏用户应有的特权。</p>
								<p>4）用户权益保护公告：为规范网络游戏市场经营秩序，贯彻《文化部、商务部关于加强网络游戏虚拟货币管理工作的通知》的文件精神，我公司就加强网络游戏虚拟货币管理工作，特颁布用户权益保护公告如下："在发行网络游戏虚拟货币时，必须保存用户的充值记录。用户在网络游戏虚拟货币的使用过程中出现纠纷的，应出示与所注册的身份信息相一致的个人有效身份证件。我公司在核实用户身份后，应提供虚拟货币充值和转移记录，按照申诉处理程序处理；用户合法权益受到侵害时，网络游戏运营企业应积极协助进行取证和协调解决；如果公司计划终止其产品和服务提供的，会提前60 天予以公告。终止服务时，对于用户已经购买但尚未使用的虚拟货币，我公司将以法定货币方式或用户接受的其它方式予以退还。</p>		
							</div>
						</div>
						<div class="agreement-bottom">
							<span>我不同意</span>
							<span class="agreement-sure">我同意</span>
						</div>
					</div>

					<!-- 注册 -->
					<div class="register-box">
						<form action="" class="reg-form">
							<table cellpadding="0" cellspacing="0" width="100%" class="reg-table">
								<tr>
									<td width="13%"><i>*</i>游戏账号：</td>
									<td width="87%">
										<input type="text" class="reg-input" name="reg_user"  onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>由英文字母、数字组成，并以英文字母开头昵称的长度为4-16个字符</em>
									</td>
								</tr>
								<tr>
									<td>游戏昵称：</td>
									<td>
										<input type="text" class="reg-input" name="reg_nick" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>建议设置4位字符以上组成。</em>
									</td>
								</tr>								
								<tr>
									<td><i>*</i>确认密码：</td>
									<td>
										<input type="password" class="reg-input" name="reg_pw" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>建议设置7位字符以上的安全密码。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>密码问题：</td>
									<td>
										<input type="text" class="reg-input" name="reg_que" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>忘记密码的提示问题，最好设成别人不知道答案的问题。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>问题答案：</td>
									<td>
										<input type="text" class="reg-input" name="reg_answer" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>忘记密码的提示问题答案，用于取回密码。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>手机：</td>
									<td>
										<input type="text" class="reg-input" name="reg_phone" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>建议设置个人常用手机号。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>邮箱：</td>
									<td>
										<input type="text" class="reg-input" name="reg_email" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>建议设置个人常用邮箱。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>真实姓名：</td>
									<td>
										<input type="text" class="reg-input" name="reg_name" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>请与身份证一致。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>身份证号：</td>
									<td>
										<input type="text" class="reg-input" name="reg_uid" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>身份证号请与姓名一致。</em>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>
										<button type="button" class="reg-submit">确认提交</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="reg-right">
					<h3>联系我们</h3>
					<p>
						德清棋乐无穷网络科技有限公司<br>
						联系人：俞经理<br>
						邮箱：service@deqingqp.com
					</p>
					<div class="reg-right-code">
						<img src="__PUBLIC__/Pcweb/img/code.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="Index:public_footer" />
<script src="__PUBLIC__/Pcweb/js/jquery.min.js"></script>
<script src="__PUBLIC__/Pcweb/js/common.js"></script>
<script>
;(function(){
	$(".agreement-sure").on("click",function(){
		$(".agreement").hide();
		$(".register-box").show();
	})

	var user = $("input[name='reg_user']"),
		nick = $("input[name='reg_nick']"),
		pw = $("input[name='reg_pw']"),
		que = $("input[name='reg_que']"),
		answer = $("input[name='reg_answer']"),
		phone = $("input[name='reg_phone']"),
		email = $("input[name='reg_email']"),
		name = $("input[name='reg_name']"),
		uid = $("input[name='reg_uid']"),
		emailReg = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
		var isIDCard1= /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$/;
		var isIDCard2= /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X|x)$/;

		var phoneReg = /^1([3-9][0-9])\d{8}$/;

		var sub_status	=	false;
		$(".reg-submit").on("click",function(){
			if (sub_status) {return;}
			if(user.val()==''){
				webTip("请输入用户名",function(){
					user.focus()
				})
				return false;
			}
			if(pw.val()==''){
				webTip("请输入密码",function(){
					pw.focus()
				})
				return false;
			}
			if(pw.val().length<6){
				webTip("密码不能小于6位",function(){
					pw.focus()
				})
				return false;
			}
			if(que.val()==''){
				webTip("请输入问题",function(){
					que.focus()
				})
				return false;
			}
			if(answer.val()==''){
				webTip("请输入问题答案",function(){
					answer.focus()
				})
				return false;
			}


			if(phone.val()==''){
				webTip("请输入手机号",function(){
					phone.focus()
				})
				return false;
			}
			if(!phoneReg.test(phone.val())){
				webTip("手机号不正确",function(){
					phone.focus()
				})
				return false;
			}

			if(email.val()==''){
				webTip("请输入邮箱",function(){
					email.focus()
				})
				return false;
			}
			if(!emailReg.test(email.val())){
				webTip("邮箱不正确",function(){
					email.focus()
				})
				return false;
			}
			if(name.val()==''){
				webTip("请输入姓名",function(){
					name.focus()
				})
				return false;
			}
			if(uid.val()==''){
				webTip("请输入身份证号",function(){
					uid.focus()
				})
				return false;
			}
			if(!isIDCard1.test(uid.val())&&!isIDCard2.test(uid.val())){
				webTip("身份证号不正确",function(){
					uid.focus()
				})
				return false;
			}

			// $(".reg-form").submit();

			var _url	=	"{:U('Login/register')}";
			var _param	=	new Object();
				_param.username	=	user.val();
				_param.nickname	=	nick.val();
				_param.password	=	pw.val();
				_param.question	=	que.val();
				_param.answer	=	answer.val();
				_param.phone 	=	phone.val();
				_param.email	=	email.val();
				_param.truename	=	name.val();
				_param.idcard	=	uid.val();
			// console.log(_param);return;
			sub_status	=	true;
            $.post(_url,_param,function(res){
                if (res.code == 1) {
                	webTip(res.msg,function(){
                		window.location.href	=	res.url;
                	});
                }else{
                	webTip(res.msg,function(){
                		window.location.href	=	window.location.href;
                	});
                }
            },'json');
		})

})();
</script>
</body>
</html>