@charset "utf-8";
/* CSS Document */

body{padding:0; margin:0;}
h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,,li,ol,pre,textarea,from,input,th,td,select{margin:0px; padding:0px; font-family:'宋体'；}
em{font-style:normal;}
li{list-style:none;}
img{ border:none; max-width:100%;}
a img{border:none; max-width:100%; }
a{text-decoration:none;}
table{border-collapse:collapse;}
textaera{resize:none; overflow:auto;}
input,textarea,button,select,option{outline:none;}

/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.fl{ float:left;}
.fr{ float:right;}
.clear{clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
clearfix{zoom:1;}