@charset "utf-8";
/* CSS Document */
*{padding:0; margin:0;}

.wrap{width:100%; position:relative; }
.bg{width:100%; height:100%; background:url(../images/bg.jpg) no-repeat; background-size:100% 100%; overflow:hidden; }

.code{ width:242px; height:240px; padding-top:415px; position:absolute; right:546px; }
.code img{ width:200px; height:200px;}

.login{width:200px; height:70px; line-height:70px; text-align:center; background:#e44a54; border-radius:10px; position:absolute; top:40px; right:40px; }
.login a{display:block; font-size:30px; color:#e44a54; color:#fff;}