
<div class="footer">
	<div class="footer-contain">
		<div class="footer-left">
			<div class="footer-left-txt">
				<b>德清人都喜欢玩的游戏！</b>
				经典房卡模式<br>
				等你来加入~
			</div>
		</div>
		<div class="footer-right">
			<p><a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">网站备案/许可证号：浙ICP备17020425号</a></p>
			<p>Copyright 2017 All Rights Reserved 德清棋乐无穷网络科技有限公司 版权所有</p>
			<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
			<p>德清棋乐无穷网络科技有限公司 联系邮箱：service@deqingqp.com</p>
		</div>
	</div>
</div>