<include file="public_header" />
<div class="main">
	<div class="contain">
		<div class="banner">
			<img src="__PUBLIC__/Pcweb/img/banner.png" alt="">
		</div>
		<div class="contain-box">
			<div class="title">
				<img src="__PUBLIC__/Pcweb/img/p-die.png" alt="">用户注册
			</div>
			<div class="reg-box">
				<div class="reg-left">
					<h4>注册界面</h4>
					<div class="title-line"></div>

					<!-- 服务协议 -->
					<div class="agreement">
						<div class="reg-agreement">
							<h3>欢迎您注册成为舞动科技用户！ 请仔细阅读下面的协议，只有接受协议才能继续进行注册。 《用户服务协议》</h3>
							<div class="agreement-text">
								<p>不以规矩，无以成方圆。</p>
								<p>良好的秩序是一切美好事物的基础。我们所做的一切，均是为了维护游戏世界的和谐与公平。但真正的秩序，应源于每个人的习惯。我们真诚希望能有那样一天——我们不必再用游戏惩罚去约束大家的行为。</p>
								<p>警告——警告即是对游戏用户的提醒，使其警示，它仅仅是针对轻微违反游戏政策而做出的教育导向，它是用于正常管理游戏运行的一种方式。</p><p>若玩家违反本用户守则的规定，玩家可能遭受以下一项或几项惩罚。</p>
								<p>禁言——关闭违规玩家的部分或全部聊天频道，强制暂停玩家角色的线上对话功能，使玩家角色无法与其他玩家对话，直到此次处罚到期或是取消。</p>	
								<p>不以规矩，无以成方圆。</p>
								<p>良好的秩序是一切美好事物的基础。我们所做的一切，均是为了维护游戏世界的和谐与公平。但真正的秩序，应源于每个人的习惯。我们真诚希望能有那样一天——我们不必再用游戏惩罚去约束大家的行为。</p>
								<p>警告——警告即是对游戏用户的提醒，使其警示，它仅仅是针对轻微违反游戏政策而做出的教育导向，它是用于正常管理游戏运行的一种方式。</p><p>若玩家违反本用户守则的规定，玩家可能遭受以下一项或几项惩罚。</p>
								<p>禁言——关闭违规玩家的部分或全部聊天频道，强制暂停玩家角色的线上对话功能，使玩家角色无法与其他玩家对话，直到此次处罚到期或是取消。</p>
								<p>不以规矩，无以成方圆。</p>
								<p>良好的秩序是一切美好事物的基础。我们所做的一切，均是为了维护游戏世界的和谐与公平。但真正的秩序，应源于每个人的习惯。我们真诚希望能有那样一天——我们不必再用游戏惩罚去约束大家的行为。</p>
								<p>警告——警告即是对游戏用户的提醒，使其警示，它仅仅是针对轻微违反游戏政策而做出的教育导向，它是用于正常管理游戏运行的一种方式。</p><p>若玩家违反本用户守则的规定，玩家可能遭受以下一项或几项惩罚。</p>
								<p>禁言——关闭违规玩家的部分或全部聊天频道，强制暂停玩家角色的线上对话功能，使玩家角色无法与其他玩家对话，直到此次处罚到期或是取消。</p>	
							</div>
						</div>
						<div class="agreement-bottom">
							<span>我不同意</span>
							<span class="agreement-sure">我同意</span>
						</div>
					</div>

					<!-- 注册 -->
					<div class="register-box">
						<form action="" class="reg-form">
							<table cellpadding="0" cellspacing="0" width="100%" class="reg-table">
								<tr>
									<td width="13%"><i>*</i>游戏账号：</td>
									<td width="87%">
										<input type="text" class="reg-input" name="reg_user"  onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>由英文字母、数字组成，并以英文字母开头昵称的长度为4-16个字符</em>
									</td>
								</tr>
								<tr>
									<td>游戏昵称：</td>
									<td>
										<input type="text" class="reg-input" name="reg_nick" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>建议设置4位字符以上组成。</em>
									</td>
								</tr>								
								<tr>
									<td><i>*</i>确认密码：</td>
									<td>
										<input type="text" class="reg-input" name="reg_pw" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>建议设置7位字符以上的安全密码。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>密码问题：</td>
									<td>
										<input type="text" class="reg-input" name="reg_que" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>忘记密码的提示问题，最好设成别人不知道答案的问题。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>问题答案：</td>
									<td>
										<input type="text" class="reg-input" name="reg_answer" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>忘记密码的提示问题答案，用于取回密码。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>邮箱：</td>
									<td>
										<input type="text" class="reg-input" name="reg_email" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>建议设置7位字符以上的安全密码。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>真实姓名：</td>
									<td>
										<input type="text" class="reg-input" name="reg_name" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>请与身份证一致。</em>
									</td>
								</tr>
								<tr>
									<td><i>*</i>身份证号：</td>
									<td>
										<input type="text" class="reg-input" name="reg_uid" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
										<em>身份证号请与姓名一致。</em>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
									<td>
										<button type="button" class="reg-submit">确认提交</button>
									</td>
								</tr>
							</table>
						</div>
					</form>
				</div>
				<div class="reg-right">
					<h3>联系我们</h3>
					<p>
						杭州安谦网络科技有限公司<br>
						联系人：周经理<br>
						邮箱：aqqinc@163.com
					</p>
					<div class="reg-right-code">
						<img src="__PUBLIC__/Pcweb/img/code.png" alt="">
						<img src="__PUBLIC__/Pcweb/img/code.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="public_footer" />
<script src="__PUBLIC__/Pcweb/js/jquery.min.js"></script>
<script src="__PUBLIC__/Pcweb/js/common.js"></script>
<script>
;(function(){
	$(".agreement-sure").on("click",function(){
		$(".agreement").hide();
		$(".register-box").show();
	})

	var user = $("input[name='reg_user']"),
		pw = $("input[name='reg_pw']"),
		que = $("input[name='reg_que']"),
		answer = $("input[name='reg_answer']"),
		email = $("input[name='reg_email']"),
		name = $("input[name='reg_name']"),
		uid = $("input[name='reg_uid']"),
		emailReg = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
		var isIDCard1= /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$/;
		var isIDCard2= /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X|x)$/;

		$(".reg-submit").on("click",function(){
			if(user.val()==''){
				webTip("请输入用户名",function(){
					user.focus()
				})
				return false;
			}
			if(pw.val()==''){
				webTip("请输入密码",function(){
					pw.focus()
				})
				return false;
			}
			if(pw.val().length<6){
				webTip("密码不能小于6位",function(){
					pw.focus()
				})
				return false;
			}
			if(que.val()==''){
				webTip("请输入问题",function(){
					que.focus()
				})
				return false;
			}
			if(answer.val()==''){
				webTip("请输入问题答案",function(){
					answer.focus()
				})
				return false;
			}
			if(email.val()==''){
				webTip("请输入邮箱",function(){
					email.focus()
				})
				return false;
			}
			if(!emailReg.test(email.val())){
				webTip("邮箱不正确",function(){
					email.focus()
				})
				return false;
			}
			if(name.val()==''){
				webTip("请输入姓名",function(){
					name.focus()
				})
				return false;
			}
			if(uid.val()==''){
				webTip("请输入身份证号",function(){
					uid.focus()
				})
				return false;
			}
			if(!isIDCard1.test(uid.val())&&!isIDCard2.test(uid.val())){
				webTip("身份证号不正确",function(){
					uid.focus()
				})
				return false;
			}

			$(".reg-form").submit();
		})

})();
</script>
</body>
</html>