<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
    <title>代理中心-首页</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/Agent/css/taizhou.css">
    <script type="text/javascript" src="__PUBLIC__/Home/Agent/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Agent/js/public.js"></script>
</head>
<body style="background: #fff;">
    <div id="app">
        <div class="card_box clearfix">
            <div class="img_tou left">
                <if condition="!empty($agent_info['avatar'])">
                <img src="{$agent_info['avatar']}"/>
                <else />
                <img src="__PUBLIC__/Home/Agent/img/tou.png"/>
                </if>
            </div>
            <div class="left card_name_num">
                <div class="card_name">{$agent_info['nickname']}</div>
                <div class="card_fang">房卡数量：{$agent_info['room_card']}</div>
            </div>
            <a href="{:U('Agent/agentInfo')}"><i><img src="__PUBLIC__/Home/Agent/img/right_w.png"/></i></a>
        </div>
        <div class="entrance clearfix">
            <!-- <div class="xfin-common">
                <img class="xfin-logo" src="__PUBLIC__/Home/Agent/img/f1.png"/>
                <a href="{:U('Agent/agentList')}" class="xfin-word">代理管理</a>
            </div> -->
            <div class="xfin-common">
                <img class="xfin-logo" src="__PUBLIC__/Home/Agent/img/f1.png"/>
                <a href="{:U('Recharge/playerindex')}" class="xfin-word">玩家管理</a>
            </div>
<!--             <div class="xfin-common">
                <img class="xfin-logo" src="__PUBLIC__/Home/Agent/img/f2.png"/>
                <a href="{:U('Recharge/index')}" class="xfin-word">房卡统计</a>
            </div> -->
<!--             <div class="xfin-common">
                <img class="xfin-logo" src="__PUBLIC__/Home/Agent/img/f3.png"/>
                <a href="{:U('Goods/index')}" class="xfin-word">商务套餐</a>
            </div> -->
            <!-- <div class="xfin-common">
                <img class="xfin-logo" src="__PUBLIC__/Home/Agent/img/f4.png"/>
                <a href="{:U('Order/orderList')}" class="xfin-word">我的订单</a>
            </div> -->
            <div class="xfin-common">
                <img class="xfin-logo" src="__PUBLIC__/Home/Agent/img/f5.png"/>
                <a href="{:U('Agent/incomeReport')}" class="xfin-word">收入报表</a>
            </div>
        </div>
        <div class="form_btn form_btn_out">
            <button class="out_login">退出登录</button>
        </div>
        遮盖层
        <div class="xba-blank"></div>
        <div class="xba-cover">
            <p class="xba-f xba-f1">取消</p>
            <p class="xba-f xba-f2">确认退出</p>
        </div>
    </div>
</body>
<script>
    $(function(){

        var indexMsg =  "{$indexMsg}";
        if (indexMsg != '') {
            setTimeout(function(){
                alert(indexMsg);
            },1000);
        };

        $('.out_login').click(function(){
            $('.xba-blank').css('display','block');
            $('.xba-cover').css('display','block');
        })
        $('.xba-f1').click(function(){
            $('.xba-blank').css('display','none');
            $('.xba-cover').css('display','none');
        })
        $('.xba-f2').click(function(){
            $('.xba-blank').css('display','none');
            $('.xba-cover').css('display','none');
            window.location.href = "{:U('Login/logout')}";
            // $.post("{:U('Login/logout')}",{},function(res){
            //     alert(res.code);
            //     if (res.code == '1') {
            //         if (res.url != '') {
            //             webTip(res.msg);
            //             setTimeout(function(){
            //                 window.location.href = res.url;
            //             },1500);
            //         }
            //     }
            // },'json')
        })
    })
</script>
<include file="Index:public_wxshare" />
</html>