<!DOCTYPE html>
<html lang="en">
  <head>
    <include file="Public/header" />
  </head>
  <body class=""> 
  <!--<![endif]-->
    <div class="navbar">
        <include file="Public/top" />
    </div>
    <div class="sidebar-nav">
        <ul class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a> <span class="divider">/</span></li>
            <li class="active">密码修改</li>
        </ul>
        <div class="container-fluid">
            <div class="row-fluid">
				<form id="AgentForm" action="{:U('Agent/editPwd')}" method="post">               
					<input type="hidden" name="id" value="{$agentInfo['id']}" />
					<div class="well">
					    <div id="myTabContent" class="tab-content">
					      <div class="tab-pane active in" id="home">
						        <label>原密码</label>
						        <input type="password" id="old_password" name="old_password" class="input-xlarge" />
						        <label>新密码</label>
						        <input type="password" id="new_password" name="new_password" class="input-xlarge" />
						        <label>确认密码</label>
						        <input type="password" id="re_new_password" name="re_new_password" class="input-xlarge" />
					      </div>
					  	</div>
					</div>
					<div class="btn-toolbar">
						<input type="hidden" name="id" value="{$agentInfo['id']}" />
					    <button class="btn btn-primary" style="margin-left:2px;"><i class="icon-ok-sign"></i>保存</button>
					    <button class="btn btn-primary" style="margin-left:2px;" onclick="javascript:history.back(-1);return false;"><i class="icon-step-backward"></i>返回</button>
					  	<div class="btn-group"></div>
					</div>
				</form>
            </div>
        </div>
    </div>
<script type="text/javascript">
CommonJs.FormCheck	= function(FormObj){
	if(CommonJs.Loading){ return false;}
	CommonJs.Loading 								= true;
	CommonJs.SubmitData.old_password				= $("input[name='old_password']").val();
	CommonJs.SubmitData.new_password				= $("input[name='new_password']").val();
	CommonJs.SubmitData.re_new_password				= $("input[name='re_new_password']").val();
	CommonJs.SubmitData.id							= $("input[name='id']").val();
	if(!CheckJs.required(CommonJs.SubmitData.old_password)){
		_inform('请输入原密码',function(){CommonJs.Loading = false;});return false;
	}
	if(!CheckJs.required(CommonJs.SubmitData.new_password)){
		_inform('请输入新密码',function(){CommonJs.Loading = false;});return false;
	}
	if(!CheckJs.required(CommonJs.SubmitData.re_new_password)){
		_inform('请输入确认密码',function(){CommonJs.Loading = false;});return false;
	}
	if(CommonJs.SubmitData.new_password != CommonJs.SubmitData.re_new_password){
		_inform('两次密码输入不一致',function(){CommonJs.Loading = false;});return false;
	}
	CommonJs.Loading = false
	return true;
};
CommonJs.JsSave("#AgentForm");
</script>
    
  </body>
</html>