@charset 'utf-8';
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background-color:#F0F0F0;color:#333;font-size:14px;-webkit-text-size-adjust: none;font-family: "微软雅黑", sans-serif;-webkit-tap-highlight-color: rgba(0,0,0,0);}
ul,ol,dl{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{text-decoration:none; color: #333;}
body,html{ height: 100%; width: 100%;}
img{ border:none;display: block;}
i,em{ font-style: normal;}
.clear{ clear:both;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
button,input,select,textarea{outline: none;}
h2,h3,h4,b,strong{ font-weight: normal;}
.display_none{display: none;}
body{-webkit-user-select:none;-webkit-overflow-scrolling : touch;}
.show{display: block;}
.hide{display: none;}
.clear-float:after{content: '';display: block;clear: both;}
.line-top:before{content: '';position: absolute;z-index: 10;left:0;top:-1px;border-top:solid 1px #ddd; width: 100%;height: 1px;-webkit-transform:scaleY(.5);transform: scaleY(.5);}
.line-bottom:after{content: '';position: absolute;z-index: 10;left:0;bottom:-1px;border-top:solid 1px #ddd; width: 100%;height: 1px;-webkit-transform:scaleY(.5);transform: scaleY(.5);}
.box-shadow-top{box-shadow:0 -1px 1px #eee;}
.gray{background: #f2f2f2;}
.p:after{content: '';display: block;width: 100%;height: 1.0rem;}
.left{float: left;}
.right{float: right;}
input{background: none;border: 0;}
button{border: 0;display:inline-block;}
input[type="button"], input[type="submit"], input[type="reset"] {  -webkit-appearance: none; }
/* iPhone 5 & 5S */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	body {font-size: 8.5px;}
}

/* iPhone 6 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	body {font-size: 10px;}
}

/* iPhone 6 plus */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
	body {font-size: 11px;}
}
/**下载页面**/
.down_bg{
	position: relative;
	width: 100%;
	height: 100%;
	background:url("../img/bg.png") no-repeat 0px 0px;
	/*background-size:cover;*/
	background-size: 100% 100%;
}
.down_logo{
	/*padding: 1.55rem 0 1rem;*/
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -4.5rem;
}
.down_logo img{
	width: 3.5rem;
	/*height: 3.5rem;*/
	margin: auto;
}
.down_btns{
	position: absolute;
	bottom: 3.3rem;
	right: 0.3rem;
	text-align: center;
}
.down_btns a{
	display: inline-block;
	width: 3.66rem;
	height: 0.92rem;
}
.down_btns a{
	/*background: #1FA92B;*/
	color: #fff;
	border-radius: 0.12rem;
	font-size: 1.8em;
}
.down_btns a img{
	/*width: 100%;*/
	height: 90%;
	display: inline-block;
}
.down_btns .ios a{
	/*background: #FA5637;*/
	margin-top: 0.2rem;
	text-align: right
}
.footer{
	position: absolute;
	bottom:0;
	width: 100%;
}
.footer_line{
	width: 6.9rem;
	height: 0.75rem;
	line-height: 0.75rem;
	margin: auto;
	text-align: center;
	border-top: 1px solid #a0a1a5;
	color: #fff;
	font-size: 1.125em;
}
.footer_line span.pad_rig{
	padding-right: 0.2rem;
}