<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <script>!function(n){var e=n.document,t=e.documentElement,i=750,d=i/100,o="orientationchange"in n?"orientationchange":"resize",a=function(){var n=t.clientWidth||320;n>750&&(n=750),t.style.fontSize=n/d+"px"};e.addEventListener&&(n.addEventListener(o,a,!1),e.addEventListener("DOMContentLoaded",a,!1))}(window);</script>
    <title>充值成功</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/Agent/css/taizhou.css">
    <meta http-equiv="refresh" content="3; url={:U('Recharge/playersRecored')}" />
</head>
<body>
<div class="yes_box">
    <div class="yes_img"><img src="__PUBLIC__/Home/Agent/img/yes.png"/></div>
    <div class="yes_msg">充值成功！</div>
</div>
</body>
</html>